<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HRManagementSystem.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/theme.css" />
	<link rel="stylesheet" href="~/css/modules.css" />
	<link rel="stylesheet" href="~/css/modules-hr.css" />
	<link rel="stylesheet" href="~/css/modules-admin.css" />
    <link rel="stylesheet" href="~/css/dark-mode.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />

			<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
				  rel="stylesheet" />

				<link rel="stylesheet"
					  href="https://fonts.googleapis.com/css?family=Material+Symbols+Outlined" />
</head>
<body>
	<main>
		@RenderBody()
	</main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/core/layout.js"></script>
	<script src="~/js/core/data-table.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
