<form asp-action="SaveRole" asp-controller="Role" method="post">

    <div asp-validation-summary="All" class="validation-message"></div>

    <div class="input-group">
        <input type="text" name="RoleName" placeholder="Role Name" required />
    </div>
    <button type="submit" class="btn-primary">Create</button>
         </form>