@model HRManagementSystem.ViewModels.Application.UpdateApplicationViewModel

@{
    ViewData["Title"] = "Edit Application";
}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header">
            <h3>Edit Application</h3>
        </div>

        <div class="card-body">

            <form asp-action="Edit" method="post">

                <input asp-for="Id" type="hidden" />

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label asp-for="Status" class="form-label"></label>

                    <select asp-for="Status"
                            asp-items="Html.GetEnumSelectList<HRManagementSystem.Enums.AplicationStatus>()"
                            class="form-select">
                    </select>

                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Stage" class="form-label"></label>

                    <select asp-for="Stage"
                            asp-items="Html.GetEnumSelectList<HRManagementSystem.Enums.JopStage>()"
                            class="form-select">
                    </select>

                    <span asp-validation-for="Stage" class="text-danger"></span>
                </div>

                <button class="btn btn-primary" type="submit">
                    Save Changes
                </button>

                <a asp-action="Index"
                   class="btn btn-secondary">
                    Back
                </a>

            </form>

        </div>

    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
